<div>
  <h2 id="page-heading" data-cy="ViewVrednovanjeHeading">
    <span jhiTranslate="tenderiApp.viewVrednovanje.home.title">View Vrednovanjes</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadPage()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="tenderiApp.viewVrednovanje.home.refreshListLabel" (click)="prazanRefresh()">""</span>
      </button>
    </div>
  </h2>
  <div class="row">
    <div class="col-sm-12">
      <form name="searchForm" class="form-inline">
        <div class="input-group w-100 mt-3">
          <input type="text" class="form-control" [(ngModel)]="brojPostupka" id="artikal" name="artikal" placeholder="postupak" />

          <button class="input-group-append btn btn-info" (click)="loadPageByPostupak()">
            <fa-icon icon="search"></fa-icon>
          </button>

          <button class="input-group-append btn btn-danger" (click)="prazanPostupak()" *ngIf="brojPostupka">
            <fa-icon icon="trash-alt"></fa-icon>
          </button>
        </div>
      </form>
    </div>
    <div class="col-sm-12">
      <form name="searchForm" class="form-inline">
        <div class="input-group w-100 mt-3">
          <input type="text" class="form-control" [(ngModel)]="brojPonude" id="ponuda" name="ponuda" placeholder="ponuda" />

          <button class="input-group-append btn btn-info" (click)="loadPageByPonude()">
            <fa-icon icon="search"></fa-icon>
          </button>

          <button class="input-group-append btn btn-danger" (click)="prazanPonude()" *ngIf="brojPonude">
            <fa-icon icon="trash-alt"></fa-icon>
          </button>
        </div>
      </form>
    </div>
  </div>
  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="viewVrednovanjes?.length === 0">
    <span jhiTranslate="tenderiApp.viewVrednovanje.home.notFound">No viewVrednovanjes found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="viewVrednovanjes && viewVrednovanjes.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
          <th scope="col" jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="sifraPostupka">
            <span jhiTranslate="tenderiApp.viewVrednovanje.sifraPostupka">Sifra Postupka</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="sifraPonude">
            <span jhiTranslate="tenderiApp.viewVrednovanje.sifraPonude">Sifra Ponude</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="brojPartije">
            <span jhiTranslate="tenderiApp.viewVrednovanje.brojPartije">Broj Partije</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="nazivPonudjaca">
            <span jhiTranslate="tenderiApp.viewVrednovanje.nazivPonudjaca">Naziv Ponudjaca</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="procijenjenaVrijednost">
            <span jhiTranslate="tenderiApp.viewVrednovanje.procijenjenaVrijednost">Procijenjena Vrijednost</span>
            <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="ponudjenaVrijednost">
            <span jhiTranslate="tenderiApp.viewVrednovanje.ponudjenaVrijednost">Ponudjena Vrijednost</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="kolicina">
            <span jhiTranslate="tenderiApp.viewVrednovanje.kolicina">Kolicina</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="atc">
            <span jhiTranslate="tenderiApp.viewVrednovanje.atc">Atc</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="inn">
            <span jhiTranslate="tenderiApp.viewVrednovanje.inn">Inn</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="zastceniNaziv">
            <span jhiTranslate="tenderiApp.viewVrednovanje.zastceniNaziv">Zastceni Naziv</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="farmaceutskiOblikLijeka">
            <span jhiTranslate="tenderiApp.viewVrednovanje.farmaceutskiOblikLijeka">Farmaceutski Oblik Lijeka</span>
            <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="jacinaLijeka">
            <span jhiTranslate="tenderiApp.viewVrednovanje.jacinaLijeka">Jacina Lijeka</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="pakovanje">
            <span jhiTranslate="tenderiApp.viewVrednovanje.pakovanje">Pakovanje</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="rokIsporuke">
            <span jhiTranslate="tenderiApp.viewVrednovanje.rokIsporuke">Rok Isporuke</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="bodRok">
            <span jhiTranslate="tenderiApp.viewVrednovanje.bodIsporuka">Bod Isporuka</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="bodCijena">
            <span jhiTranslate="tenderiApp.viewVrednovanje.bodCijena">Bod Cijena</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="bodUkupno">
            <span jhiTranslate="tenderiApp.viewVrednovanje.bodUkupno">Bod Ukupno</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let viewVrednovanje of viewVrednovanjes; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/view-vrednovanje', viewVrednovanje.id, 'view']">{{ viewVrednovanje.id }}</a>
          </td>
          <td>{{ viewVrednovanje.sifraPostupka }}</td>
          <td>{{ viewVrednovanje.sifraPonude }}</td>
          <td>{{ viewVrednovanje.brojPartije }}</td>
          <td>{{ viewVrednovanje.nazivPonudjaca }}</td>
          <td>{{ viewVrednovanje.procijenjenaVrijednost }}</td>
          <td>{{ viewVrednovanje.ponudjenaVrijednost }}</td>
          <td>{{ viewVrednovanje.kolicina }}</td>
          <td>{{ viewVrednovanje.atc }}</td>
          <td>{{ viewVrednovanje.inn }}</td>
          <td>{{ viewVrednovanje.zastceniNaziv }}</td>
          <td>{{ viewVrednovanje.farmaceutskiOblikLijeka }}</td>
          <td>{{ viewVrednovanje.jacinaLijeka }}</td>
          <td>{{ viewVrednovanje.pakovanje }}</td>
          <td>{{ viewVrednovanje.rokIsporuke }}</td>
          <td>{{ viewVrednovanje.bodRok }}</td>
          <td>{{ viewVrednovanje.bodCijena }}</td>
          <td>{{ viewVrednovanje.bodUkupno }}</td>
          <td class="text-right">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/view-vrednovanje', viewVrednovanje.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="viewVrednovanjes && viewVrednovanjes.length > 0">
    <div class="row justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="row justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [(page)]="ngbPaginationPage"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="loadPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
